/*setting the background*/
body{
    background-image: url("bg.jpg");
}

/** styling of the first container*/
.flexbox-container-1 {
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 0%;
}

/*styling the header*/
.flexbox-item-1{
    width: 1000px;
    border: 3px solid black;
    background-color: rgb(15, 5, 73);
}

/*styling the search box*/
.wrapper{
    position: absolute;
    left:70%;
    top: 10%;
    display: flex;
}

/*setting the search icon*/
.searchButton{
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}



/** styling of the second container*/
.flexbox-container-2 {
    height: 100px;
    display: flex;
    justify-content: center;
}

.flexbox-item-2{
    padding-left: 5px;
}

/* styling the content flexbox item*/
.content{
    width: 700px;
    min-height: 600px;
    background-image: url("thank.gif");
}

/* styling the sideBox flexbox item*/
.sideBar{
    width: 300px;
    min-height: 600px;
    background-color: rgba(121, 118, 118, 0.863);
}

